<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">@Model.GetName()</h1>
  <h2>@Model.GetDescription()</h2>
  <ul>
    <li>@Model.GetPhoneNumber()</li>
    <li>@Model.GetAddress()</li>
  </ul>
  <form class="" action="/restaurant/deleted" method="post">
    <input type="hidden" name="restaurantId" value="@Model.GetId()">
    <button type="submit" name="button">Delete this Restaurant</button>
  </form>

  <h2><a href="/">Back Home</a></h2>
</body>
